In [1]:
import pandas as pd

In [3]:
df_k4 = pd.read_table("~/qbb2020/data/K4me3.bed")
df_k4

      3L  15823270  15830715
0     2R  11451787  11459612
1     3R  21665759  21673392
2     2R  20324929  20331038
3     3R  19859679  19864278
4      X  16780987  16791625
...   ..       ...       ...
3824  3R    565835    566082
3825  2L  10439373  10442085
3826  3R   4477321   4479529
3827  3L    711347    711871
3828  2L   6792695   6795077

[3829 rows x 3 columns]

In [ ]:
df_k4.shape

In [ ]:
df_k4.loc[:, "width"] = df_k4.loc